{% extends "menu.html" %}

{% block content %}
<div class='col-md-6 col-md-offset-3' align='center'>	
	<h4>Въвеждане на данни за нов служител</h4>
</div>
<br/>
<form method='post' >
	{% csrf_token %}
	<div class='form-group col-md-6 col-md-offset-3'>
		<input type='text' class='form-control' id='name' name='name' placeholder='Име'/>
			<input type='text' class='form-control' id='sirname' name='sirname' placeholder='Презиме'/>
			<input type='text' class='form-control' id='lastname' name='lastname' placeholder='Фамилия'/>
			 <select class="form-control select select-default" data-toggle="select" name='language'>
		        <option value="0">Избери език</option>
		        <option value="1">Английски</option>
		        <option value="2">Немски</option>
		        <option value="3">Руски</option>
		      </select>
				<div class='form-inline col-md-offset-2' align='center'>
					<input type='text' class='form-control col-md-3 datepickerField' id='dateFrom' name='dateFrom' placeholder='От дата '/>
					<input type='text' class='form-control col-md-3 datepickerField' id='dateTo' name='dateTo' placeholder='До дата'/> 
				</div>
				<br/>
		    	<label> Автобиография 
		<input type='file' id='cvFile' name='cvFile'/>
		</label>

		<button type='submit' class="btn btn-block btn-lg btn-primary" name='submit'> Добави </button>
    </div>

</form>
<script>
  $(function() {
    $( ".datepickerField" ).datepicker();
  });
 </script>

{% endblock content %}